<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bidmachine">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application>
        <activity android:name="io.bidmachine.banner.BannerViewActivity" />
        <activity android:name="io.bidmachine.RequestTestActivity" />
    </application>

</manifest>